* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

button {
    font-weight: 550;
    font-size: 1rem;
    background-color: rgba(235, 235, 120, 0.9);
    min-height: 35px;
    min-width: 100px;
    margin-top: 6px;
}

button.remove-button, button.toggle-read {
    font-size: 400;
    color: rgb(255, 70, 80);
    border: 1px solid black;
    padding: 4px;
    min-height: 1rem;
    min-width: auto;
    font-size: 0.8rem;
    display: block;
    justify-self: center;
}

button.toggle-read {
    color: rgb(5, 136, 81);
}

.book-form {
    margin: 1em auto;
    background-color: white;
    padding: 0.5em;
    width: 100%;
    max-width: 80%;
    border: 1px dotted red;
}

label, input {
    display: block;
    width: 100%;
}

p {
    padding-bottom: 1em;
}

input {
    padding: 0.5em;
    border: 1px solid #666;
    border-radius: 6px;
}

input[type="radio"] {
    display: block;
}

dialog {
    min-width: 350px;
    max-width: 50%
}

.close-dialog {
    margin-left: 10%;
    margin-top: 5%;
}

.grid-container {
    display: grid;
    resize: both;
    gap: 4px; 
    padding: 4px;
    margin-left: 6px;
    margin-right: 6px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.grid-item {
    text-align: center;
    background-color: rgb(230, 230, 150);
    border: 2px dotted blue;
    font-size: 1.1rem;
    padding: 10px;
}